ED-FASTSHIP-WS-AppClient/src/conf/xml-resources/web-service-references/FastShipWS/wsdl/localhost_8080/ED-FASTSHIP-war/FastShipWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.fastship.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.fastship.com/" name="FastShipWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.fastship.com/" schemaLocation="http://localhost:8080/ED-FASTSHIP-war/FastShipWS?xsd=1"/>
</xsd:schema>
</types>
<message name="displayPayment">
<part name="parameters" element="tns:displayPayment"/>
</message>
<message name="displayPaymentResponse">
<part name="parameters" element="tns:displayPaymentResponse"/>
</message>
<message name="displayPaymentForClient">
<part name="parameters" element="tns:displayPaymentForClient"/>
</message>
<message name="displayPaymentForClientResponse">
<part name="parameters" element="tns:displayPaymentForClientResponse"/>
</message>
<message name="displayEventsForParcel">
<part name="parameters" element="tns:displayEventsForParcel"/>
</message>
<message name="displayEventsForParcelResponse">
<part name="parameters" element="tns:displayEventsForParcelResponse"/>
</message>
<message name="displayParcelForClient">
<part name="parameters" element="tns:displayParcelForClient"/>
</message>
<message name="displayParcelForClientResponse">
<part name="parameters" element="tns:displayParcelForClientResponse"/>
</message>
<message name="displayParcel">
<part name="parameters" element="tns:displayParcel"/>
</message>
<message name="displayParcelResponse">
<part name="parameters" element="tns:displayParcelResponse"/>
</message>
<portType name="FastShipWS">
<operation name="displayPayment">
<input wsam:Action="http://ws.fastship.com/FastShipWS/displayPaymentRequest" message="tns:displayPayment"/>
<output wsam:Action="http://ws.fastship.com/FastShipWS/displayPaymentResponse" message="tns:displayPaymentResponse"/>
</operation>
<operation name="displayPaymentForClient">
<input wsam:Action="http://ws.fastship.com/FastShipWS/displayPaymentForClientRequest" message="tns:displayPaymentForClient"/>
<output wsam:Action="http://ws.fastship.com/FastShipWS/displayPaymentForClientResponse" message="tns:displayPaymentForClientResponse"/>
</operation>
<operation name="displayEventsForParcel">
<input wsam:Action="http://ws.fastship.com/FastShipWS/displayEventsForParcelRequest" message="tns:displayEventsForParcel"/>
<output wsam:Action="http://ws.fastship.com/FastShipWS/displayEventsForParcelResponse" message="tns:displayEventsForParcelResponse"/>
</operation>
<operation name="displayParcelForClient">
<input wsam:Action="http://ws.fastship.com/FastShipWS/displayParcelForClientRequest" message="tns:displayParcelForClient"/>
<output wsam:Action="http://ws.fastship.com/FastShipWS/displayParcelForClientResponse" message="tns:displayParcelForClientResponse"/>
</operation>
<operation name="displayParcel">
<input wsam:Action="http://ws.fastship.com/FastShipWS/displayParcelRequest" message="tns:displayParcel"/>
<output wsam:Action="http://ws.fastship.com/FastShipWS/displayParcelResponse" message="tns:displayParcelResponse"/>
</operation>
</portType>
<binding name="FastShipWSPortBinding" type="tns:FastShipWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="displayPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="displayPaymentForClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="displayEventsForParcel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="displayParcelForClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="displayParcel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FastShipWS">
<port name="FastShipWSPort" binding="tns:FastShipWSPortBinding">
<soap:address location="http://localhost:8080/ED-FASTSHIP-war/FastShipWS"/>
</port>
</service>
</definitions>